<div class="container">
  <h1><%=title %></h1>
</div>
<div class="container">
  <input type="range" name="distance" value="50" min="0" max="100">
</div>
<div class="container list-group stops">

</div>
<script src="public/js/list.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALXxJYGKNHWr0EenPE3ZxXCVLnEwT6rVA"></script>
